---
import Layout from "../layouts/Layout.astro";
import TabButton from "../components/tab-button.astro";
import Page from "../components/page.astro";
import Button from "../components/button.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Page>
		<div class='container'>
			<div class='tabs'>
				<TabButton text='Variables' />
				<TabButton text='Description' />
				<TabButton text='Traits' />
			</div>
			<div class='buttons'>
				<Button text='Generate new' />
				<Button text='Lock seed' />
			</div>
		</div>
	</Page>
</Layout>

<style>
	.container {
		--bg: #989898;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 10px;
		position: relative;
		background-color: var(--bg);
		box-shadow:
			2px 2px 2px 0.5px color-mix(in srgb, var(--bg) 40%, white 100%),
			-2px -2px 2px 0.5px color-mix(in srgb, var(--bg) 40%, black 100%),
			inset 2px 2px 2px 0.5px color-mix(in srgb, var(--bg) 40%, white 100%),
			inset -2px -2px 2px 0.5px color-mix(in srgb, var(--bg) 40%, black 100%);
	}

	.tabs {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	@supports not (color: color-mix(in srgb, black 50%, white)) {
		.container {
			box-shadow:
				inset 1px 1px 1px 0.5px #c5c4c4,
				inset -1px -1px 1px 0.5px #00000073;
		}
	}
</style>
