---
import Layout from "../layouts/Layout.astro";
import TabButton from "../components/tab-button.astro";
import Page from "../components/page.astro";
import Button from "../components/button.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Page>
		<div class='container'>
			<div class='tabs'>
				<TabButton text='Tab 1' />
				<TabButton text='Tab 2' />
				<TabButton text='Gioia' />
			</div>
			<div class='buttons'>
				<Button text='Button 1' />
				<Button text='Button 2' />
			</div>
		</div>
	</Page>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.tabs {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
</style>
